/* --------------------DEFAULT SETTING------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* --------------------------------COLORS----------------------------------------------------- */
:root {
  --background-color: #2a9c5b;
  --nav-active-color: #7bc1ea;
  --room-botton-color:#B86e1e;
  --room-botton-hover-color: #7c4204;
  --confirm-botton-color: #3870ff;
  --confirm-botton-hover-color: #182e65;
  --basic-grey-color: #fffefe;
  --nav-bar-hover-color: #f6eaea;
  --color-booking-pages:#1f8047;


  /* -------------------------FONT FAMILY--------------------------------------- */
  --primary-font-family: "Maven pro";
  --secondary-font-family: "EB Garamond";
}

/* ----------------------Font MAVEN PRO AND EB GARAMOND--------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  background-color: var(--background-color);
}

.header__logo {
  display: flex;
  width: 40%;
  height: 30%;
  min-width: 218px; /*Logo becoming very small is not clear what it stands for.*/
  min-height: 52px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* ------------------------------TEXT GENERAL EDITING------------------------------------------------ */
h1 {
  font: var(--primary-font-family);
  font-size: 3rem;
  font-weight: 700;
  color: blanchedalmond;
}

h2 {
  margin-top: 0rem;
  font: var(--primary-font-family);
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0rem;
}

p {
  margin-top: 0rem;
  font: var(--secondary-font-family);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.8rem;
  color: black;
  margin-bottom: 0rem;
}

/* ---------------------------------------TEXT GENERAL EDITING ENDS HERE-------------------- */

/* -------------------TOP NAVIGATION BAR------------------------------------------------- */

.header__nav {
  background-color: var(--basic-grey-color);
  overflow: hidden;
}

.header__nav a {
  display: block;
  float: left;
  text-align: center;
  padding: 10px 15px;
  font: var(--primary-font-family);
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.header__nav a:hover {
  background-color: var(--nav-bar-hover-color);
  color: black;
}

.header__nav a.active {
  background-color: var(--nav-active-color);
  color: white;
}

.header__nav input[type="text"] {
  background-color:var(--nav-bar-hover-color);
  float: right;
  padding: 4px;
  border: none;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
}

/* -------------------END OF TOP NAVIGATION BAR--------------------------------------------- */

/* BREADCRUMBS NAVIGATION --USED SPECIALLY FOR, INSIDE BOOKING OTHERS ARE CLEAR*/

ul.breadcrumb {
  padding: 0.5rem 1rem;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font: var(--primary-font-family);
  font-size: 1rem;
  color: var(--basic-grey-color);
}

ul.breadcrumb li + li:before {
  padding: 2px;
  color: var(--basic-grey-color);
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: var(--nav-bar-hover-color);
  text-decoration: none;
}

/*-----------------ENF OF BREADCRUMBS NAVIGATION ------------------------------------*/

/* --------------------------------------------HOME PAGE ---------------------------------- */

.homepage {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". homepage__heading ."
    ". home__container-1 ."
    ". home__container-2 ."
    ". home__container-3 ."
    ". home__container-4 .";
}

.homepage__heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: homepage__heading;
  background-color: var(--background-color);
  padding: 0rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.home__container-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: home__container-1;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
  background-color: var(--basic-grey-color);
  padding: 1rem;
  border-radius: 10px;
}

.home__container-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: home__container-2;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--basic-grey-color);
  padding: 1rem;
  border-radius: 10px;
}

.home__container-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: home__container-3;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--basic-grey-color);
  padding: 1rem;
  border-radius: 10px;
}

.home__container-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: home__container-4;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0rem;
  background-color: var(--basic-grey-color);
  padding: 1rem;
  border-radius: 10px;
}

/*--------- PICTURES FOR HOMEPAGE--------------*/

.img__scenery {
  display: flex;
  flex-direction: column;
  height: 12rem;
  max-width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid hsl(31, 72%, 42%); /*Put frame on this because the pic was much open*/
}

.img__cosy_eve {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid hsl(31, 72%, 42%);
}

.img__new_day {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid hsl(31, 72%, 42%);
}

/* ------------------------------------------END OF HOMEPAGE------------------------------------------------ */

/* -------------------------------------OUR ROOMS PAGE--------------------------------------*/

.our-rooms-wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". services ."
    ". room__container-1 ."
    ". room__container-2 ."
    ". room__container-3 ."
    ". room__container-4 ."
    ". room__container-5 ."
    ". room__container-6 .";
}

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: services;
    background-color: var(--background-color);
    padding: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.room__container-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: room__container-1;
  text-align: center;
  margin-top: 0srem;
  margin-bottom: 1rem;
  background-color:var(--basic-grey-color);
  color: #1c273c;
  padding: 1rem;
  border-radius: 10px;
}

.room__container-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: room__container-2;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:var(--basic-grey-color);
  color: #1c273c;
  padding: 1rem;
  border-radius: 10px;
}

.room__container-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: room__container-3;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:var(--basic-grey-color);
  color: #1c273c;
  padding: 1rem;
  border-radius: 10px;
}

.room__container-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: room__container-4;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:var(--basic-grey-color);
  color: #1c273c;
  padding: 1rem;
  border-radius: 10px;
}

.room__container-5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: room__container-5;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color:var(--basic-grey-color);
  color: #1c273c;
  padding: 1rem;
  border-radius: 10px;
}

.room__container-6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: room__container-6;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0rem;
  background-color: var(--basic-grey-color);
  color: #1c273c;
  padding: 1rem;
  border-radius: 10px;
}

/*--------- PICTURES FOR OUR ROOMS PAGE --------------*/

.img__presidential_suit {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border: 5px solid hsl(31, 72%, 42%);
}

.img__delux_room {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border: 5px solid hsl(31, 72%, 42%);
}

.img__family_space {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border: 5px solid hsl(31, 72%, 42%);
}

.img__family_room {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border: 5px solid hsl(31, 72%, 42%);
}
.img__standard_room {
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  border: 5px solid hsl(31, 72%, 42%);
}

/*------------ END OF OUR ROOM PAGE-----------------------------*/

/*----------------------------------BOOKING PAGE --------------------------*/
.booking-page-wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  grid-template-areas: 
  ". heading__booking ."
  ". booking__container ."
  ". heading__search ."
  ". booking__container__search ."
  ". heading__confirm ."
  ". booking__container__confirm .";
}


.booking-page-wrapper p {
  font-family:var(--secondary-font-family);
  font-size: 1.3rem;
  color: #000000;
}

.heading__booking {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: heading__booking;
  background-color: var(--background-color);
  padding: 0rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.booking__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: booking__container;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  background-color: var(--basic-grey-color);
  color:black;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.booking__container h2 {
  font-family: var(--primary-font-family);
  font-size: 2rem;
margin-bottom: 0.5rem;
align-self: center;
color: blac;
}

form {
  display: flex;
  flex-direction: column;
}


label {
  color:black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

input {
  background-color: var(--nav-bar-hover-color);
  margin-top: 0.5rem;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-align: center;
  color: black;
}

.contat__detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-align: center;
  color: black;
}


.checkin__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-align: center;
  color: black;
}
.checkout__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-align: center;
  color: black;
}

.total__guest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-align: center;
  color: black;
}

.total__rooms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-align: center;
  color: black;
}

.your__booking {
  font-family: var(--secondary-font-family);
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1rem;
}

.heading__search {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: heading__search;
  background-color: var(--background-color);
  padding: 0rem;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;               
  padding: 0;                         
  margin: 0;                       
}
.checkbox {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  cursor: pointer;
}


.accept__terms {
  color: black;
  font-family: var(--primary-font-family);
  font-size: 1.3rem;
}


.booking__container__search {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: booking__container__search;
  background-color:var(--basic-grey-color);
  padding: 4rem;
  text-align: center;
  border-radius: 10px;
  margin-top: rem;
  margin-bottom: 0rem;
}


.heading__confirm {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: heading__confirm;
  background-color: var(--background-color);
  padding: 0rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.booking__container__confirm {
  display: flex;
  min-width: 375px;
  align-items: center;
  flex-direction: column;
  grid-area: booking__container__confirm;
  background-color: var(--basic-grey-color);
  padding: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.booking__container__confirm h2{
  margin-top: 1rem;
  font-family: var(--secondary-font-family);
  font-size: 1.8rem;

}
/*---------------------------------END OF BOOKING PAGE-------------------------------- */

/*---------------------------BUTTONS------------------------------*/
.rooms__button {
  background-color: var(--room-botton-color);
  color: white;
  font-family: var(--secondary-font-family);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 25px;
  margin-top: 0rem;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.rooms__button:hover {
  background-color: var(--room-botton-hover-color);
  cursor: pointer;
}

.confirm__button {
  min-width: 160px;
  background-color: var(--confirm-botton-color);
  color: white;
  font-family: var(--secondary-font-family);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.confirm__button:hover {
  background-color: var(--confirm-botton-hover-color);
  cursor: pointer;
}

/*---------------------------------END OF BUTTONS PART------------------------------- */

/*---------------------------------FOOTER----------------------------------*/

.footer__content {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer__title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer__contact {
  font-size: 1rem;
  color: blanchedalmond;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.footer__logo {
  display: block;
  width: 150px; /* More appropriate fixed size for logos */
  height: auto;
  margin-bottom: 1rem;
}

.footer__map {
  width: 100%; /* Adjusted for responsiveness */
  max-width: 23.5rem;
  height: auto;
  margin: 1rem auto;
}

.footer__copyright {
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
}
/*---------------------------------------- END OF FOOTER PART ----------------------------------*/

/*-----------------------------RESPONSIVITY at 600px------------------------------*/

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .header__nav input[type="text"] {
    display: none;
  }
}
/*-------------------------------------------END OF RESPONSIVITY--------------------------------------*/
